* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif !important;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1920px;
    height: 70px;
    margin: 0 auto;
    background-color: #F0F0F0;

    nav {
        display: flex;
        gap: 21px;

        a {
            text-decoration: none;
            color: black;
        }
    }

    div {
        display: flex;
        gap: 19px;

        button {
            border: 0;
            cursor: pointer;
        }
    }
}


.container {
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin-top: 44px;
    margin-bottom: 11px;
    color: #000;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.user_email {
    color: #0047FF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main_box {
    margin: 74px 0;
}

.main_box h4 {
    color: #000;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 21px;
}

.wallets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.wallets .box {
    width: 282px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 15px;
    padding: 19px 23px;
    background-color: #0047FF;
    cursor: pointer;
}

.bg_one {
    background: linear-gradient(84deg, #D7816A 2.27%, #BD4F6C 92.26%);
}

.bg_two {
    background: linear-gradient(84deg, #5F0A87 2.27%, #A4508B 92.26%);
}

.bg_three {
    background: linear-gradient(84deg, #20BF55 2.27%, #01BAEF 92.26%);
}

.bg_four {
    background: linear-gradient(84deg, #380036 2.27%, #0CBABA 92.26%);
}

.wallets .box h2 {
    color: #FFF;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.wallets .box p {
    color: #FFF;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.all_wallets {
    color: #0047FF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    margin-top: 21px;
}


table {
    width: 100%;
}

table thead tr th {
    font-size: 18px;
    font-weight: 700;
    color: gray;
    padding: 0 5px 15px;
    text-align: left;
}

table tbody tr {
    position: relative;
}

table tbody tr::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: lightgray;
    position: absolute;
    left: 0;
}

table tbody tr td {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: black;
    padding: 10px;
}

.wallets .box_add{
    background-color: rgba(128, 128, 128, 0.5);
}

.box_add span{
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: grey;
}

.form_bg{
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .form_card{
        background-color: white;
        width: 400px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        font-size: 20px;

        label{
            margin: 15px 0;
        }
        input{
            width: 98%;
            height: 30px;
            margin-bottom: 10px;
        }
        select{
            width: 100%;
            height: 30px;
        }

        button{
            background-color: #0047FF;
            margin: 10px 0;
            width: 100%;
            height: 50px;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            font-size: 15px;
            color: white;
            cursor: pointer;
        }
    }
}

.hide{
    display: none;
}

.cash{
    font-size: 50px;
    font-weight: bold;
    color: white;
}