
.main_box{
    display: flex;
    gap: 20px;
}

.add_wallet{
width: 438px;
height: 56px;
border-radius: 10px;
background: #0047FF;
color: white;
margin-top: 44px;
}
.p_user_email {
    color: blue;
    padding: 0 0 20px 0;
    font-weight: 700;
}